.header{
  padding: 1rem 7.5rem 1rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style: none;
  cursor: pointer;
}

ul{
  display: flex;
  gap: 2.5rem;
}
