<app-botao-sung></app-botao-sung>
<div>
<h1 class="secao-projetos-titulo">Projetos</h1>

<section class="secao-card">
  <div class="projeto-cards" @init>
    <div class="card">
      <h1 class="card-titulo">Projeto Gerenciador</h1>
      <p class="card-descricao">Projeto em construção de uma aplicação web para gerenciamento de fluxo comercial</p>
      <a href="https://github.com/Sungjuno/projeto-radar"><button class="card-link">Repositório do Projeto</button></a>
      <div class="tec-div">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183890595-779a7e64-3f43-4634-bad2-eceef4e80268.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183568594-85e280a7-0d7e-4d1a-9028-c8c2209e073c.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183859966-a3462d8d-1bc7-4880-b353-e2cbed900ed6.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/192158954-f88b5814-d510-4564-b285-dff7d6400dad.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png" alt="">
      </div>
    </div>
    <div>
      <img src="../../../assets/projeto-gerenciador.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
  </div>
</section>
<section class="secao-card">
  <div class="projeto-cards" @init1>
    <div>
      <img src="../../../assets/projeto-ultima.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
    <div class="card">
      <h1 class="card-titulo">Projeto Última</h1>
      <p class="card-descricao">Criação de Layout</p>
      <a href="https://github.com/Sungjuno/proejeto-ultima"><button class="card-link">Repositório do Projeto</button></a>
      <div class="tec-div">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183890595-779a7e64-3f43-4634-bad2-eceef4e80268.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/192158954-f88b5814-d510-4564-b285-dff7d6400dad.png" alt="">
        <img class="tec" src="https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="secao-card">
  <div class="projeto-cards" @init2>
    <div class="card">
      <h1 class="card-titulo">Projeto Visual</h1>
      <p class="card-descricao">Projeto visual usando processing</p>
      <div class="tec-div">
        <img class="tec" src="../../../assets/Processing_2021_logo.svg.png" alt="">
      </div>
      <!-- <a href="https://github.com/Sungjuno/proejeto-ultima"><button class="card-link">Repositório do Projeto</button></a>
      </div> -->
    </div>
    <div>
      <img src="../../../assets/frame_0225.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
  </div>
</section>

</div>
