<h1 class="secao-projetos-titulo">Projetos</h1>
<p class="solo-border">__________</p>

<section class="secao-card">
  <div class="projeto-cards">
    <div class="card">
      <h1 class="card-titulo">Projeto Gerenciador</h1>
      <p class="card-descricao">Projeto em construção de uma aplicação web para gerenciamento de fluxo comercial</p>
      <a href="https://github.com/Sungjuno/projeto-radar"><button class="card-link">Repositório do Projeto</button></a>
    </div>
    <div>
      <img src="../../../assets/projeto-gerenciador.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
  </div>
</section>
<section class="secao-card">
  <div class="projeto-cards">
    <div>
      <img src="../../../assets/projeto-ultima.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
    <div class="card">
      <h1 class="card-titulo">Projeto Última</h1>
      <p class="card-descricao">Criação de Layout</p>
      <a href="https://github.com/Sungjuno/proejeto-ultima"><button class="card-link">Repositório do Projeto</button></a>
    </div>
  </div>
</section>
<section class="secao-card">
  <div class="projeto-cards">
    <div class="card">
      <h1 class="card-titulo">Projeto Visual</h1>
      <p class="card-descricao">Projeto visual usando processing</p>
      <!-- <a href="https://github.com/Sungjuno/proejeto-ultima"><button class="card-link">Repositório do Projeto</button></a>
      </div> -->
    </div>
    <div>
      <img src="../../../assets/frame_0225.png" alt="imagem projeto gerenciador" class="projeto-gerenciador">
    </div>
  </div>
</section>

