<app-botao-sung class="sung"></app-botao-sung>
<div>
  <div class='contato'>
    <h1 class="secao-projetos-titulo">Vamos construir algo <i>incrível!</i></h1>
  </div>

  <div class='contato-desc-titulo'>
    <h2>Contato</h2>
    <p>Procuro uma oportunidade para colaborar, quero trazer minhas habilidades e entusiasmo resolvendo problemas reais.
      <br>
      Sou sedento por qualquer oportunidade de ganhar experiência e sabedoria sempre mantendo a mente aberta.
    </p>
    <p>
      Sinta-se à vontade para entrar em contato comigo em qualquer rede.
    </p>
  </div>
  <a href=""></a>
</div>
