<div @fadeIn>
<app-botao-sung class="sung"></app-botao-sung>
<div class="contato-div">
  <div class='contato'>
    <h1 class="secao-projetos-titulo">Vamos construir algo <i>incrível!</i></h1>
  </div>

  <div class='contato-desc-titulo'>
    <h2>Contato</h2>
    <p>Procuro uma oportunidade para colaborar, quero trazer minhas habilidades e entusiasmo resolvendo problemas reais.
      <br>
      Sou sedento por qualquer oportunidade de ganhar experiência e sabedoria sempre mantendo a mente aberta.
    </p>
    <p>
      Sinta-se à vontade para entrar em contato comigo em qualquer rede.
    </p>
  </div >
  <div class='link-contato'>
    <a href="https://www.linkedin.com/in/sung-ju-no-5887b6163/" target="_blank" rel="noopener noreferrer" class="link">LinkedIn</a>
    <a href="https://github.com/Sungjuno" target="_blank" rel="noopener noreferrer" class="link">Github</a>
    <a href="https://www.instagram.com/nosungju" target="_blank" rel="noopener noreferrer" class="link">Instagram</a>
    <a href="" target="_blank" rel="noopener noreferrer" class="link" style="pointer-events: none">nosungju@gmail.com</a>
  </div>
  </div>
</div>
