/* a{
  position: fixed;
  text-decoration: none;
  margin-left: 80%;
  font-size:1.2rem;
  margin-top: -7rem;
  color: black;
  padding: .5rem;
  border-radius: 10px;
}
a:hover{
  transition: .3s;
  box-shadow: 3px 3px 3px black;
} */

h1{
  padding-top: 10rem;
  margin-left: 15rem;
  font-size: 3rem;
}

p{
  width: 50%;
  margin-top: 5rem;
  margin-left: 20rem;
  font-size: 1.7rem;
}
