<div @fadeIn>
  <a routerLink="/home">SUNG</a>

  <h1>Sobre</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus sequi, dignissimos nam, voluptates minus quia recusandae doloremque quisquam officia adipisci doloribus cupiditate deleniti dolorum quos magnam libero! Eaque, iure.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt deserunt odit beatae quibusdam, qui consectetur debitis nemo necessitatibus unde vitae non libero vel! Quo cum quis rerum repellendus culpa eaque.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vero ex nostrum esse aut fugiat totam animi nemo eum, suscipit delectus illum eligendi exercitationem maxime quae quisquam iste, ipsam vitae!
  </p>
</div>
