<div>
  <div class="botao-sung">
    <app-botao-sung></app-botao-sung>
  </div>
  <div class='texto'>
    <h1 @init>Sobre</h1>

    <p @init1 class="p1">
      <strong><i>Olá me chamo Sung, sou artista multidisciplinar com mais de 17 anos de experiência na área.</i></strong></p>
      <p @init1>
        Indo desde a direção artística brasileira de um dos maiores grupos do entretenimento mundial até produzir música para artistas indicados ao grammy latino!

        <br><br>
        Ainda estou construindo esse portfólio.......
        <!-- Sou extremamente varsátil e curioso não me definindo pelos trabalhos que realizei mas sim pelos trabalhos que quero realizar, skills podem ser ensinados mas personalidade é inerente, estou imerso na área de tecnologia buscando contribuir resolvendo problemas reais, sempre me desafiando e procurando desenvolvimento não fico satisfeito apenas com boas idéias é necessário colocá-las em prática!
        Você pode ter mais informações com o meu currículo abaixo. -->
      </p>


    <a href="../../../assets/SungJuNo Curriculum.pdf" download="Sung Ju No">Download do currículo em pdf</a>
  </div>
</div>
