  .secao{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/sung.jpg);
    background-color: rgb(221,221,221);
    background-position: 130% 50%;
    background-repeat: no-repeat;
  }

  .opc{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 19rem;
    padding-top: 6rem;
  }
  a{
    font-size: 10rem;
    text-decoration: none;
    cursor: pointer;
    color:rgb(45, 45, 45);

  }
  p{
    margin: 0;
    padding: 0;
  }

  .nome-opc:hover a p.new-sobre span{
    position: absolute;
    padding-left: .5rem;
    transition: 0.1s ;
    opacity: 0;

  }
  .nome-opc:hover a p.new-sobre:after{
    transition: .3s;
    content: 'SOBRE';
    color: whitesmoke;
    animation:  fadein .3s;
  }

  @keyframes fadein {
    from{ opacity: 0}
    to{ opacity: 1}
  }

  .nome-opc1:hover a p.new-projeto span{
    position: absolute;
    padding-left: .5rem;
    transition: 0.1s ;
    opacity: 0;
  }
  .nome-opc1:hover a p.new-projeto:after{
    content: 'PROJETOS';
    color: whitesmoke;
    animation:  fadein .3s;
  }


  .nome-opc2:hover a p.new-contato span{
    position: absolute;
    padding-left: .5rem;
    transition: 0.1s ;
    opacity: 0;
  }
  .nome-opc2:hover a p.new-contato:after{
    content: 'CONTATO';
    color: whitesmoke;
    animation:  fadein .3s;
  }


  @media (max-width: 480px){

    .opc{
      margin-left: 4rem;
      padding-top: 4rem;
    }

    a{
      font-size: 5rem;
    }

    .secao{
      width: 100vw;
      height: 100vh;
      background-image: url(../../assets/sung.jpg);
      background-color: rgb(221,221,221);
      background-position: 50% 40%;
      background-repeat: no-repeat;
    }

    .aviso{
      position: absolute;
      color: black;
      border-radius: 30px;
      padding: .6rem .8rem .6rem .8rem;
      margin-left: 45%;
      margin-top: 70%;
      opacity: .8;
      background-color: rgb(221,221,221);
    }


    .diminui-size{
      font-size: 3.5rem;
      padding: 0;

    }

    .opc-novo-size{
      margin-left: 2rem;
      gap: 2rem;
      margin-bottom: 1.2rem;
    }
  }
