<!-- <section class="home" id="home">
  <div class="bloco-intro">
    <h5 class="pre-intro">Forward Thinker / FullStack Developer</h5>
    <h1 class="intro">Olá, meu nome é Sung Ju No</h1>
    <p class="intro-descricao">Amo acompanhar tudo de novidade que aparece no mundo da arte e tecnologia!
      <br>
      Entender as novas tendências é fundamental para nos preparar pro futuro!</p>
    <div class="botoes">
      <a href="https://github.com/Sungjuno" target="_blank" rel="noopener noreferrer"><button class="botao-cheio botao">Github</button></a>
      <a href="https://www.linkedin.com/in/sung-ju-no-5887b6163/" target="_blank" rel="noopener noreferrer"><button class="botao-vazio botao">LinkedIn</button></a>
    </div>
  </div>
  <div>
    <img src="../../assets/sung.jpg" alt="" class="cropped">
  </div>
</section>
<section class="secao-projetos">
  <app-projetos></app-projetos>
</section>
<section>
  <app-contato></app-contato>
</section> -->

<section class="secao" @fadeIn>
  <div class="opc">
    <div class="nome-opc">
      <a routerLink="/about">
        <p class="new-sobre"><span>SUNG</span></p></a>
    </div>
    <div class="nome-opc1">
      <a routerLink="/projetos">
        <p class="new-projeto"><span>JU</span></p></a>
      </div>
    <div class="nome-opc2">
      <a routerLink="/contato">
        <p class="new-contato"><span>NO</span></p></a>
      </div>
    </div>
</section>
