
<section class="secao">
  <div class="opc" [ngClass]="fontPadding ? 'opc-novo-size':''">
    <div class="nome-opc" [@init]="tocado ? 'start': 'end'"  >
      <a routerLink="/about" [ngClass]="fontSizeSobre ? 'diminui-size':''">
        <p class="new-sobre"><span>{{nome1}}</span></p></a>
    </div>
    <div class="nome-opc1" [@init1]="tocado ? 'start': 'end'" >
      <a routerLink="/projetos" [ngClass]="fontSizeSobre ? 'diminui-size':''">
        <p class="new-projeto"><span>{{nome2}}</span></p></a>
      </div>
    <div class="nome-opc2" [@init2]="tocado ? 'start': 'end'">
      <a routerLink="/contato" [ngClass]="fontSizeSobre ? 'diminui-size':''">
        <p class="new-contato"><span>{{nome3}}</span></p></a>
      </div>
    </div>
    <div *ngIf="mobile">
      <div class="aviso" [@fade]="state" (@fade.done)="onDone()" *ngIf="mostraAviso">
        <!-- <p> Toque aqui</p> -->
        <fa-icon [icon]="faBars" class="menu"></fa-icon>
      </div>
    </div>
</section>
